<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css" />
    <link rel = "stylesheet" type = "text/css" href = "../static/css/TableStyle.css" />
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Pregled živil</a>
  <a href="/DodajZivila">Dodaj živila</a>
  <a href="/UrejanjePoteklih">Potekla in izbrisana živila</a>
</div>

<table class="TableOfFood">
    <thead>
        <td>Ime živila</td>
        <td>Datum vpisa</td>
        <td>Datum poteka</td>
        <td style="width: 100px;">Izbriši živilo</td>
    </thead>
    {% for el in ListOfFoodItems %}
        <tr class="TR" style="background-color: {% if el.DatumPoteka <= CurrentDate0 %}rgb(255, 69, 0){% elif el.DatumPoteka <= CurrentDate1 %}rgba(255,165,0,0.9){% elif el.DatumPoteka <= CurrentDate2 %}rgba(255,165,0,0.5){% endif %};">
            <td>{{el.ImeZivila}}</td>
            <td>{{el.DatumVpisa.strftime('%d.%m.%Y')}}</td>
            <td>{{el.DatumPoteka.strftime('%d.%m.%Y')}}</td>
            <td style="width: 100px;">
                <form method="post" action="/DeleteFoodItem">
                    <input type="hidden" id="FoodItemID" name="FoodItemID" value="{{el.ID}}">
                    <input type="submit" class="ButtonSubmit" value="X">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>